<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <p class="text-center">Copyright stuff and some important jiberish.</p>
      </div>
    </div>
  </div>
</footer>
