<nav class="nav justify-content-center main-navigation">
    <a class="nav-link <%= page.pageUrl === '/' ? 'active' : '' %>" href="/">Home</a>
    <a class="nav-link <%= page.pageUrl === '/admin/add-products' ? 'active' : '' %>" href="/admin/add-products" title="Add products page">Add products</a>
</nav>
