<div class="user-bar d-flex justify-content-end">
  <button type="button" class="btn btn-sm text-white">Login</button>
  <button type="button" class="btn btn-sm text-white">Create account</button>
</div>

