<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= page.meta.description %>" />
    <title><%= page.meta.title %></title>
    <link rel="stylesheet" href="/1.main.css">
</head>
<body>
    <h1>Page not found 404</h1>
</body>
</html>
