<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Web shop</title>
    <link rel="stylesheet" href="/1.main.css">
  </head>
  <body>
    <header>
      Header
      <nav>
        <ul>
          <li><a href="/" title="Home page">Home</a></li>
          <li>
            <a href="/admin/add-product" title="Add products page"
              >Add products</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        section 1
        <form action="/admin/product" method="post">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
          <button type="submit">Add Product</button>
        </form>
      </section>
      <section>
        section 2
      </section>
    </main>
    <footer>Footer</footer>
  </body>
</html>
