<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= page.meta.description %>" />
    <title><%= page.meta.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/1.main.css">
</head>
<body>
<%- include('../includes/header'); %>
<main role="main">
   <h1>CART PAGE</h1>
</main>
<%- include('../includes/footer'); %>
</body>
</html>
